__pycache__
LED/pretrained_weights/isecret.pt
LED/pretrained_weights/led.bin
LED/pretrained_weights/pcenet.pth
LED/pretrained_weights/scrnet.pth
LED/pretrained_weights/arcnet.pth

datasets/

# Virtual Environment
venv/
.venv/
finetune_venv/